<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_MODE</key>
	<string>live</string>
	<key>API_BASE_URL</key>
	<string>https://us-central1-walkworthy-app.cloudfunctions.net/</string>
	<key>NOTIFICATION_MODE</key>
	<string>local</string>
</dict>
</plist>
